<div id="time">

</div>

<style>
    #time{
        padding: 0;
        height: 137.5px;
        width: 145px;
        background-color: ghostwhite;
        opacity: 0.75; 
        left: 0; 
        top:0;
        margin:0;
        position: absolute;
        
    }